<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/keyboard.css">
  <link rel="stylesheet" href="/styles/leaderboard.css">
  <title>About Page</title>
</head>
<body>
  <h1>Welcome to Flag Puzzle</h1>
  <h1>Enter Username</h1>
  <form action="/play" method="POST">
    <div id=userEnter>
      <label for="username">Username:</label>
      <input type="text" id="userInput" name="username" required>
      <button type="submit" id="play">PLAY</button>
    </div>
  </form>

  <!-- Virtual Keyboard -->
  <div id="keyboard" class="keyboard"></div>
  <script type="module">
    import { createKeyboard, setupKeyboard } from '/js/virtual_keyboard.js';
    createKeyboard('#keyboard');
    setupKeyboard('#keyboard', '#userInput');
  </script>

  <!-- How to play -->
  <div class="how-to-play">
    <h2>How to Play</h2>
    <p>This is a test of your flag knowledge. Correct answers to the country shown gains you points, powerups, and control over the blocks. Try to last as long as possible. Good luck!</p>
  </div>

  <!-- Leaderboard -->
  <div class="leaderboard-container">
    <section id="leaderboard">
      <h2>Leaderboard</h2>
      <ul>
        <% scores.forEach(s => { %>
          <li><%= s.username %> — <%= s.score %></li>
        <% }) %>
      </ul>
    </section>
  </div>

</body>
</html>
