<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Flag Puzzle Game</title>
</head>
<body>
  <h1><%= username %>, you have: <span class="score">0</span> points.</h1>
  <div id="blockGrid"></div>
  <button id="dropBtn">Drop</button>
  <button id="pauseBtn">Pause</button>
  <div id="pauseMenu">
    <p>Paused</p>
    <button id="resumeBtn">Resume</button>
  </div>
  <div id="endMenu">
    <p><%= username %>, you got an incredible <span class="score">0</span> points.</p>
    <form action="/about" method="GET">
      <button type="submit">Play Again</button>
    </form>
  </div>
  <script src="/app.js" defer></script>
</body>
</html>
