/* Style for the grid */
#blockGrid {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(20, 40px);
    grid-gap: 4px; /* Space between squares */
    justify-content: center;
    margin-bottom: 8px;
}

/* Style for the squares */
.square {
    width: 40px;
    height: 40px;
    background-color: black;
}

.red {
    background-color: red;
}